#index-nav{
    background-color: #0D6EFD;
    color: #0F172A;
}
.myDev{
    margin-top: 30px;
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 70% 30%;
}
.myDev-left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#myDev-left_img {
    height: 95%;
    width: 95%;
    border-radius: 5%;

}
.myDev-right{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}
.myDev-right_up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #A9D6FF;
    height: 85%;
    width:95%;
    place-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
}
.myDev-right_up_textUp{
text-align: center;
}
.myDev-right_down{
 display: flex;
 justify-content: center;
 align-items: center;
    text-align: center;
        height: 95%;
    width:95%;
    background-color: #A9D6FF;
    place-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
}

.myDev-right_up_textDown{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}