#index-nav{
    background-color: #0D6EFD;
    color: #0F172A;
}
.myDev{
    margin-top: 30px;
    width: 800px;
    height: 350px;
    columns: 2 400px;
}
.myDev-left{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myDev-left_img {
    height: 85%;
    width: 85%;
    border-radius: 5%;

}
.myDev-right{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
}
.myDev-right_up{
    display: grid;
    grid-template-rows: 25% 25%;
    text-align: center;
    background-color: #A9D6FF;
    height: 70%;
    width:70%;
    place-items: center;
    margin: 0 auto;
    border-radius: 15px;
}
.myDev-right_down{
        display: grid;
    grid-template-rows: 25% 25%;
    text-align: center;
        height: 70%;
    width:70%;
    background-color: #A9D6FF;
    place-items: center;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}